<form id="{{id}}" class="create_form">
	{{{content}}}
	<input type="button" class="submit_button" value="{{submit_label}}" />
	<input type="button" class="cancel_button" value="{{cancel_label}}" />
</form>