<div data-role="page" id="{{id}}">

	<div data-role="header">
        {{{header}}}
	</div><!-- /header -->

	<div data-role="content">
	    {{{content}}}
	</div><!-- /content -->

	<div data-role="footer">
		{{{footer}}}
	</div>		
</div><!-- /page -->
