<div class="content-primary">
    <ul data-role="listview" data-filter="true" class="ui-listview">
        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
            <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                    <a href="index.html" class="ui-link-inherit"> <img src="http://stmarypb.com/files/images/pastor.jpg" class="ui-li-thumb"> <h3 class="ui-li-heading">Ep. James Smith - Diocese of LaCrosse</h3>
                    <p class="ui-li-desc">
                        jsmith@gmail.com
                    </p> </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
            </div>
        </li>
        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
            <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                    <a href="index.html" class="ui-link-inherit"> <img src="http://stmarypb.com/files/images/pastor.jpg" class="ui-li-thumb"> <h3 class="ui-li-heading">Fr. William Smitth - Diocese of Marquette</h3>
                    <p class="ui-li-desc">
                        father_william@gmail.com
                    </p> </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
            </div>
        </li>
        <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-li-has-thumb ui-btn-up-c">
            <div class="ui-btn-inner ui-li">
                <div class="ui-btn-text">
                    <a href="index.html" class="ui-link-inherit"> <img src="http://stmarypb.com/files/images/pastor.jpg" class="ui-li-thumb"> <h3 class="ui-li-heading">Fr. Kevin Smith - Diocese of Madison</h3>
                    <p class="ui-li-desc">
                        ks1979@yahoo.com
                    </p> </a>
                </div><span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
            </div>
        </li>
    </ul>
</div>
